
@font-face {
  font-family: logo-font;
  src: url(fonts/Gidolinya-Regular.otf);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  :root{
    font-size: 1em;
    --logo-fs: 4rem;
    --password-validation: hidden;
    --invalid-color: red;
    --valid-color: green;
    --main-form-color: rgb(126, 190, 188);
    --form-area-color: rgb(152, 209, 207);
    --submit-actions-color: rgb(29, 109, 105);
    --submit-button-active: rgb(20, 75, 72);
    --input-focus-color: rgb(22, 241, 234);
    --input-hover-color: rgb(238, 236, 236);

  }

  body{
    display: flex;
    min-height: 100vh;
    /**System font stack**/
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    overflow-y: auto;
  }

  /** Left side of webpage**/
  .left-background{
    width: 40vw;
    background-image: url("/img/anton-polidovets-GAW6tK1RwLE-unsplash.jpg");
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
  } 

  .logo-container{
    font-family: logo-font, sans-serif;
    background-color: rgba(228, 225, 225, 0.6);
    font-size: var(--logo-fs);
    text-align: center;
    margin-bottom: 250px;

    /** Spacing logo & logo message**/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }

 .logo-container > img{
    height: var(--logo-fs);
  }

  .photo-cred{
    font-size: 14px;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 5px;
    width: 100%;
  }

  a{
    color: inherit;
    text-decoration: underline;
  }

  /**Right side of webpage**/

  .right-form{

    background-color: var(--form-area-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;

    
  }

  .form-intro{
    font-size: 1.7rem;
    font-weight: bold;
    padding-left: 40px;
    padding-right: 120px
  }

  p:nth-child(2){
    margin-bottom: 30px;
  }

  .main-form{
    background-color: var(--main-form-color);
    width: 100%;
    box-shadow: 0 3px 2px -2px;
    padding-left: 40px;
    padding-top: 30px;

    flex-basis: 350px;

    display: flex;
    flex-direction: column;
  }


  input, 
  label{
    display: block;
  }

  label{
    font-size: 1rem;
    letter-spacing: 1px;
    opacity: 0.8;
  }

  fieldset{

    flex-wrap: wrap;
    border: none;
  }

  legend{
    font-size: 1.4rem;
    font-weight: bold;
    opacity: 0.85;
  }

  legend + p{
    opacity: 0.7;
    margin-bottom: 20px;
  }

  .form-row{
    display: flex;
    flex-wrap: wrap;
  }

  .form-control{
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 50px;
    margin-bottom: 20px;
  }

  .form-control > input{
    font-size: 1rem;
    border: 1px solid silver;
    height: 30px;
    width: 300px;
    border-radius:6px;
  }

  input{
    padding: 5px;
  }

  input:focus{
    outline: none;
    border: 2px solid var(--input-focus-color);
    box-shadow: 1px 1px 2px;
    
  }

  input:invalid:not(#confirm-password){
    border: 2px solid var(--invalid-color);
  }

  input:hover{
    background-color: var(--input-hover-color);
  }

  #password + p{
    font-size: 14px;
    width: 300px;
  }
  
  #password:invalid + p{
    color: var(--invalid-color);
  }

  #password:invalid + p::before{
    color: var(--invalid-color);
    content: "✖"
  }

  #password:valid + p{
    color: var(--valid-color);
  }

  #password:valid + p::before{
    color: var(--valid-color);
    content: "✓";
  }

  #confirm-password + p{
    visibility: hidden;
    color: var(--invalid-color);
    font-size: 14px;
  }

  .form-row:last-child .form-control{
    position: relative;
  }

  label ~ img{
    position: absolute;
    width: 25px;
    right: 1px;
    cursor:pointer;
    visibility: hidden;
    margin-top: 2px;
    margin-right: 2px;
  }

  .form-confirmation{
    margin-left: 40px;
  }

  .submit-button{
    background-color: var(--submit-actions-color);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    height: 40px;
    width: 200px;
    cursor: pointer;
    margin-bottom: 30px;
  }

  .submit-button:active{
    background-color: var(--submit-button-active);
  }

  .form-confirmation > p > a{
    text-decoration: none;
    font-weight: bold;
    color: var(--submit-actions-color);
  }

